<a href="https://colab.research.google.com/github/KWJ30/pythonStudy25/blob/master/BaseTupleType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 튜플 생성
t1 = ()
t2 = (1,)   # 1개의 요소인 경우 뒤에 쉼표(,)
t3 = (1, 2, 3)
t4 = 1, 2, 3    # 소괄호 생략가능
t5 = ('a', 'b', ('ab', 'cd'))

In [2]:
# 삭제, 변경 불가
t1 = ('a', 'b', 'c')  # 튜플 정의

# 첫 번째 오류: 튜플에서 요소를 삭제하려고 하면 오류가 발생
try:
    del t1[0]  # 튜플에서 삭제하려고 하면 오류 발생
except TypeError as e:
    print(f"첫 번째 오류: {e}")

# 두 번째 오류: 튜플에서 요소를 변경하려고 하면 오류가 발생
try:
    t1[0] = 'c'  # 튜플에서 요소 변경하려고 하면 오류 발생
except TypeError as e:
    print(f"두 번째 오류: {e}")

첫 번째 오류: 'tuple' object doesn't support item deletion
두 번째 오류: 'tuple' object does not support item assignment

In [3]:
# 인덱싱, 슬라이싱
t1 = (1, 2, 'a', 'b')
print(t1[0])
t1 = (1, 2, 'a', 'b')
print(t1[1:])

1
(2, 'a', 'b')

In [7]:
# 더하기, 곱하기, 길이구하기
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
print(t1 + t2)

print(t1*3)
print(len(t1))

(1, 2, 'a', 'b', 3, 4)
(1, 2, 'a', 'b', 1, 2, 'a', 'b', 1, 2, 'a', 'b')
4