<a href="https://colab.research.google.com/github/KWJ30/pythonStudy25/blob/master/BaseStringType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 문자열에 작은따옴표 포함하기
# 큰따옴표로 둘러싸기
food = "Python's favorite food is perl"
print(food)

Python's favorite food is perl

In [3]:
# 작은따옴표를 작은따옴표로 둘러싼 경우
food = 'Python's favorite food is perl'
print(food) # error

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-3-6b85d57f5856>, line 1)

In [4]:
# 문자열에 큰따옴표 포함하기
# 작은따옴표로 둘러싸기
say = '"Python is very easy." he says.'
print(say)

"Python is very easy." he says.

In [5]:
# 역슬래시 사용
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."

print(food)
print(say)

Python's favorite food is perl
"Python is very easy." he says.

In [9]:
# 여러 줄의 문자열

# \n 삽입
multiline = "Life is too short\nYou need python"
print(multiline)
print("---")
# 연속된 작은따옴표 3개 또는 큰따옴표 3개
multiline='''Life is too short
You need python'''
print(multiline)
print("---")

Life is too short
You need python
---
Life is too short
You need python
---

In [ ]:
# 줄바꿈 \n
# 탭간격 \t
# \를 그대로 표현 \\
# 따옴표를 그대로 표현 \', \"

In [11]:
# 문자열 더하기
head = "Python"
tail = " is fun!"
result = head + tail
print(result)

Python is fun!

In [12]:
# 문자열 곱하기
a = "python"
result =  a * 2
print(result)

pythonpython

In [13]:
# 문자열 길이 구하기
a = "Life is too short"
len(a)

17

In [17]:
# 문자열 인덱싱
a = "Life is too short, You need Python"
print(a[0])
print(a[12])
print(a[-1])  # 뒤에서부터

L
s
n

In [21]:
# 문자열 슬라이싱
print(a[5:8])
print(a[3:])
print(a[:15])
print(a[19:-7])  # - 사용가능

is
e is too short, You need Python
Life is too sho
You need

In [22]:
a = "Pithon"
a[1] = 'y'
print(a)   # 변경 불가능한(immutable) 자료형

TypeError: 'str' object does not support item assignment

In [23]:
a = "Pithon"
a[:1] + 'y' + a[2:]

'Python'

In [28]:
# 문자열 포매팅

# 숫자 바로 대입
result = "I eat %d apples." % 3
print(result)

# 문자열 바로 대입
result = "I eat %s apples." % "five"
print(result)

# 숫자 값을 나타내는 변수로 대입
number = 3
result = "I eat %d apples." % number
print(result)

# 2개 이상의 값 넣기
number = 10
day = "three"
result = "I ate %d apples. so I was sick for %s days." % (number, day)
print(result)

I eat 3 apples.
I eat five apples.
I eat 3 apples.
I ate 10 apples. so I was sick for three days.

In [30]:
# 문자열 포맷 코드 종류
%s	문자열(String)
%c	문자 1개(character)
%d	정수(Integer)
%f	부동소수(floating-point)
%o	8진수
%x	16진수
%%	Literal % (문자 % 자체)

UsageError: Line magic function `%s	문자열(String)` not found.

In [31]:
# %d와 %를 같이 쓸 때는 %%
result = "Error is %d%%." % 98
print(result)

Error is 98%.

In [33]:
# 정렬과 공백
result = "%10s" % "hi"
print(result)
result = "%-10sjane." % 'hi'
print(result)

        hi
hi        jane.

In [34]:
# 소수점 표현하기
result = "%0.4f" % 3.42134234
print(result)
result = "%10.4f" % 3.42134234
print(result)

3.4213
    3.4213

In [35]:
# format 함수를 사용한 포매팅
result = "I eat {0} apples".format(3)
print(result)
result = "I eat {0} apples".format("five")
print(result)
number = 3
result = "I eat {0} apples".format(number)
print(result)
number = 10
day = "three"
result = "I ate {0} apples. so I was sick for {1} days.".format(number, day)
print(result)

I eat 3 apples
I eat five apples
I eat 3 apples
I ate 10 apples. so I was sick for three days.

In [37]:
# 이름으로 넣기
result = "I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)
print(result)

# 혼용 가능
result = "I ate {0} apples. so I was sick for {day} days.".format(10, day=3)
print(result)

I ate 10 apples. so I was sick for 3 days.
I ate 10 apples. so I was sick for 3 days.

In [39]:
# 정렬
result = "{0:<10}".format("hi")
print(result)
result = "{0:>10}".format("hi")
print(result)
result = "{0:^10}".format("hi")
print(result)

hi
        hi
    hi

In [38]:
# 공백 채우기
result = "{0:=^10}".format("hi")
print(result)
result = "{0:!<10}".format("hi")
print(result)

====hi====
hi!!!!!!!!

In [40]:
# 소수점 표현하기
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [41]:
# 중괄호 문자 표현하기
"{{ and }}".format()

'{ and }'

In [44]:
# f 문자열 포매팅  (파이썬 3.6 버전 이상)
name = '홍길동'
age = 30
print(f'나의 이름은 {name}입니다. 나이는 {age}입니다.')

# 표현식을 지원
print(f'나는 내년이면 {age + 1}살이 된다.')

# 딕셔너리
d = {'name':'홍길동', 'age':30}
print(f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.')

나의 이름은 홍길동입니다. 나이는 30입니다.
나는 내년이면 31살이 된다.
나의 이름은 홍길동입니다. 나이는 30입니다.

In [45]:
# 금액에 콤마(,) 삽입
f"난 {1500000:,}원이 필요해"

'난 1,500,000원이 필요해'

In [46]:
# 문자열 관련 함수들
a = "hobby"
a.count('b')

2

In [50]:
# 위치 알려 주기 1 - find
a = "Python is the best choice"
print(a.find('b'))
print(a.find('k'))   # 존재하지 않는다면 -1을 반환

# 위치 알려 주기 2 - index
a = "Life is too short"
print(a.index('t'))
# print(a.index('k'))     # 존재하지 않는 문자를 찾으면 오류가 발생

14
-1
8

In [52]:
# 문자열 삽입 - join
print(",".join('abcd'))
print(",".join(['a', 'b', 'c', 'd']))  # 리스트나 튜플도 사용가능

a,b,c,d
a,b,c,d

In [56]:
# upper, lower, lstrip, rstrip, strip
a = "hi"
UP = a.upper()
print(UP)
print("a 값 재확인: " + a)  # a 자체를 변경하는 것이 아닌 대문자로 바꾼 값을 리턴
LO = UP.lower()
print(LO)


a = " hi "
print(repr(a.lstrip()))  # 왼쪽 공백 제거 후 출력
print(repr(a.rstrip()))  # 오른쪽 공백 제거 후 출력
print(repr(a.strip()))   # 양쪽 공백 제거 후 출력

HI
a 값 재확인: hi
hi
'hi '
' hi'
'hi'

In [55]:
# replace, split
a = "Life is too short"
print(a.replace("Life", "Your leg"))

# 아무 값도 넣어 주지 않으면 공백([Space], [Tab], [Enter])을 기준으로 문자열을 나누어 준다.

a = "Life is too short"
print(a.split())
b = "a:b:c:d"
print(b.split(':'))

# upper 뿐만 아니라 lower, join, lstrip, rstrip, strip, replace, split 함수는
# 모두 이와 같은 규칙이 적용되어 문자열 자체의 값이 변경되는 것이 아니라 변경된 값을 리턴한다는 사실에 주의하자.

Your leg is too short
['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']