In [1]:
# Key와 Value의 쌍 여러 개
dic = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
print(dic)
# Value에 리스트도 넣을 수 있다.
a = {'a': [1, 2, 3]}
print(a)

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
{'a': [1, 2, 3]}

In [4]:
# 추가
a = {1: 'a'}
a[2] = 'b'
print(a)
a['name'] = 'pey'
print(a)
print("-"*30)
# 삭제
del a[1]  #  del a[key]
print(a)

{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 'name': 'pey'}
------------------------------
{2: 'b', 'name': 'pey'}

In [8]:
# 중복키 주의
a = {1:'a', 1:'b'}
print(a)

# Key에 리스트는 쓸 수 없다
try:
    a = {[1,2] : 'hi'}
    print(a)
except Exception as e:
    print(f"오류 발생: {e}")

{1: 'b'}
오류 발생: unhashable type: 'list'

In [12]:
# Key 리스트 만들기 - keys
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
print(a.keys())

# 파이썬 3.0 이후 dict_keys 객체를 리턴하도록 변경
# 리스트가 필요한 경우에는 list(a.keys())를 사용

for k in a.keys():
  print(k)

print(list(a.keys()))

dict_keys(['name', 'phone', 'birth'])
name
phone
birth
['name', 'phone', 'birth']

In [14]:
# Value 리스트 만들기 - values
print(a.values())

# Key, Value 쌍 얻기 - items
print(a.items())

dict_values(['pey', '010-9999-1234', '1118'])
['pey', '010-9999-1234', '1118']
dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [15]:
# Key: Value 쌍 모두 지우기 - clear
a.clear()
print(a)

{}

In [25]:
# Key로 Value 얻기 - get
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
print(a.get('name'))
print(a.get('phone'))

# a.get('nokey') 방식은 None을 리턴
print(a.get('nokey'))

# default 값도 설정가능
print(a.get('nokey', 'foo'))

pey
010-9999-1234
None
foo

In [26]:
# 해당 Key가 딕셔너리 안에 있는지 조사하기 - in
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
print('name' in a)
print('email' in a)

True
False