In [9]:
# 집합 자료형의 특징
s1 = set([1, 2, 3])
print(s1)
s2 = set("Hello")
print(s2) # 중복x, 순서x

{1, 2, 3}
{'l', 'o', 'H', 'e'}

In [12]:
# 인덱싱 접근 x. 리스트나 튜플로 변환한 후에 해야 한다
s1 = set([1, 2, 3])
l1 = list(s1)
print(l1[0])
t1 = tuple(s1)
print(t1[1])

1
2

In [14]:
# 교집합, 합집합, 차집합
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

# 교집합
print(s1 & s2)
print(s1.intersection(s2))

# 합집합
print(s1 | s2)
print(s1.union(s2))

# 차집합
print(s1 - s2)
print(s1.difference(s2))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{1, 2, 3}

In [17]:
# 값 1개 추가하기 - add
s1 = set([1, 2, 3])
s1.add(4)
print(s1)

# 값 여러 개 추가하기 - update
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
print(s1)

# 특정 값 제거하기 - remove
s1 = set([1, 2, 3])
s1.remove(2)
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 3}